NEXT_PUBLIC_PRIVACY_URL=/privacy
NEXT_PUBLIC_IMPRESSUM_URL=/impressum
NEXT_PUBLIC_DEMO_MODE=true
RESEND_API_KEY=
AUDIT_FROM_EMAIL=Sitemendo <hello@sitemendo.com>
AUDIT_NOTIFY_EMAIL=hello@sitemendo.com
